@model IEnumerable<Wardrobe00.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color.colorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.occasionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.seasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Color.colorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.occasionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.seasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.accessoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.accessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.accessoryID })
        </td>
    </tr>
}

</table>
